<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | Shop Helper</title>
    <link href="https://fonts.googleapis.com/css2?family=Amethysta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1">
    <link rel="icon" href="{{ url_for('static', filename='img/icons8-home-page-96.png') }}?v=1'">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
          <i class="fa-solid fa-font-awesome"></i>
          <a href="#">SHOP HELPER</a>
        </div>
        <div class="menu">
          <div class="menu-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('index') }}">Q&A</a>
            <a href="{{ url_for('history_page') }}">History</a>
            <a href="{{ url_for('question') }}">FAQ</a>
          </div>
          <a href="{{ url_for('logout') }}" class="log-in">Log Out</a>
        </div>
        <div class="menu-btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
</body>
</html>