<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartReply AI Powered by NLP</title>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1">
    <link rel="icon" href="{{ url_for('static', filename='img/chat.png') }}?v=1'">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-links">
                <!-- ตรวจสอบว่าอยู่ที่หน้าแรกหรือไม่ -->
                <a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">หน้าแรก</a>
                <!-- ตรวจสอบว่าอยู่ที่หน้าประวัติการวิเคราะห์หรือไม่ -->
                <a href="{{ url_for('history_page') }}" class="{% if request.endpoint == 'history' %}active{% endif %}">ประวัติการวิเคราะห์</a>
                <a href="{{ url_for('question') }}" class="{% if request.endpoint == 'history' %}active{% endif %}">คำถามที่พบบ่อย</a>
            </div>
            <a class="logout-button" href="{{ url_for('logout') }}">ออกจากระบบ</a>
        </div>
    </header>
    
    <h1 class="faq-title">SmartReply AI Powered by NLP</h1>
    <label for="language">เลือกภาษา:</label>
    <select id="language">
        <option value="th">ไทย</option>
        <option value="en">English</option>
    </select>

    <div class="container">
        <textarea id="userInput" class="custom-textarea" placeholder="ใส่ข้อความที่ต้องการวิเคราะห์..."></textarea>
        <br>
        <button class="comic-button" id="analyzeBtn">วิเคราะห์ข้อความ</button>
        <div class="loader" id="loader">
            <div class="bar1"></div><div class="bar2"></div><div class="bar3"></div>
            <div class="bar4"></div><div class="bar5"></div><div class="bar6"></div>
            <div class="bar7"></div><div class="bar8"></div><div class="bar9"></div>
            <div class="bar10"></div><div class="bar11"></div><div class="bar12"></div>
        </div>
        <div id="result" class="result-container" style="display: none;"></div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}?v=1"></script>
</body>
</html>