<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A | Shop Helper</title>
    <link href="https://fonts.googleapis.com/css2?family=Amethysta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=1">
    <link rel="icon" href="{{ url_for('static', filename='img/chat.png') }}?v=1'">
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
          <i class="fa-solid fa-font-awesome"></i>
          <a href="#">SHOP HELPER</a>
        </div>
        <div class="menu">
          <div class="menu-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('index') }}">Q&A</a>
            <a href="{{ url_for('history_page') }}">History</a>
            <a href="{{ url_for('question') }}">FAQ</a>
          </div>
          <a href="{{ url_for('logout') }}" class="log-in">Log Out</a>
        </div>
        <div class="menu-btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>

      <div class="container">
        <div class="left-section">
            <div class="textarea-container" style="position: relative;">

                <div class="custom-dropdown" style="position: absolute; top: 10px; right: 25px; z-index: 10;">
                    <button id="selected-language" class="dropdown-btn" data-value="th">
                        <img src="{{ url_for('static', filename='img/th.png') }}" alt="Thai Flag"> Thai
                    </button>
                    <ul class="dropdown-list">
                        <li data-value="th" data-img="{{ url_for('static', filename='img/th.png') }}">
                            <img src="{{ url_for('static', filename='img/th.png') }}" alt="Thai Flag"> Thai
                        </li>
                        <li data-value="en" data-img="{{ url_for('static', filename='img/uk.png') }}">
                            <img src="{{ url_for('static', filename='img/uk.png') }}" alt="English Flag"> English
                        </li>
                    </ul>
                </div>

                <textarea id="userInput" class="custom-textarea" placeholder="วางข้อความของคุณที่นี่เพื่อวิเคราะห์ข้อความ"></textarea>
            </div>
            <button class="comic-button" id="analyzeBtn">วิเคราะห์ข้อความ</button>
            <div class="loader" id="loader">
                <div class="bar1"></div><div class="bar2"></div><div class="bar3"></div>
                <div class="bar4"></div><div class="bar5"></div><div class="bar6"></div>
                <div class="bar7"></div><div class="bar8"></div><div class="bar9"></div>
                <div class="bar10"></div><div class="bar11"></div><div class="bar12"></div>
            </div>
        </div>
        <div class="right-section">
            <div id="result" class="custom-textarea" placeholder="ผลลัพธ์จะแสดงที่นี่..."></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}?v=1"></script>
</body>
</html>