<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}?v=1">
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon-login.ico') }}" type="image/x-icon">
</head>
<body>

  <div class="form-container form-3 active">
    <div class="form-image">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 148">
        <path fill="white" fill-rule="evenodd"
          d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z"
          transform="matrix(-1 0 0 1 1600 0)" />
      </svg>
      
    </div>
    <div class="padding-wrap">
      <h1>Login</h1>
      {% if error %}
        <div class="error-message">{{ error }}</div>
      {% endif %}
      <form id="log-in-1" action="{{ url_for('authenticate') }}" method="POST">
        <div class="form-group">
          <input required id="username" type="text" name="username" />
          <label for="username">Username</label>
        </div>
        <div class="form-group">
          <input required id="passin" type="password" name="password" />
          <label for="passin">Password</label>
        </div>
        <input type="submit" value="Log in" />
      </form>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}?v=1"></script>
</body>
</html>